<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <link rel="icon"
          type="image/png"
          alt="MakeMIT Logo"
          href="/assets/img/logo-black@2x.png">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">

    <!-- Include Semantic-UI -->
    <script src="/assets/js/semantic.min.js"></script>

    <!-- for Facebook -->
    <meta property="og:title" content="MakeMIT {{ site.year }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="assets/img/logo-black@2x.png"/>
    <meta property="og:url" content="https://makemit.org"/>
    <meta property="og:description" content="MakeMIT Day Of Information"/>

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@makemit">
    <meta name="twitter:title" content="MakeMIT {{ site.year }}">
    <meta name="twitter:description" content="Get ready for a makeathon like none other.">
    <meta name="twitter:image:src" content="assets/img/logo-black@2x.png"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/img/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/img/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-128.png" sizes="128x128" />

    <meta name="msapplication-TileImage" content="/assets/images/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/assets/images/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/assets/images/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/assets/images/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/assets/images/favicon/mstile-310x310.png" />

    <script src="/assets/js/base.js"></script>
</head>

<body>

<div class="ui page dimmer">
    <div class="content">
        <div class="center">
            <h1></h1>
            <h2></h2>
        </div>
    </div>
</div>

<div class="nav">
    <div class="ui secondary pointing menu">
        <a class="logo montserrat bold item" href="https://makemit.org">
            <img class="ui image hacksquare" src="/assets/img/new_logo_title_black.png" alt="MakeMIT Logo">
        </a>
        <a class="item {% if page.url == '/' %} active {% endif %}" href="/">
            <i class="home icon"></i>
            Day Of
        </a>
        <a class="item {% if page.url == '/schedule/' %} active {% endif %}" href="/schedule/">
            <i class="calendar icon"></i>
            Schedule
        </a>
        <a class="item {% if page.url == '/resources/' %} active {% endif %}" href="/resources/">
            <i class="rocket icon"></i>
            Resources
        </a>
        <a class="item {% if page.url == '/hardware/' %} active {% endif %}" href="/hardware/">
            <i class="rocket icon"></i>
            Hardware List
        </a>
        <a class="item {% if page.url == '/travel/' %} active {% endif %}" href="/travel/">
            <i class="plane icon"></i>
            Travel Info
        </a>
        <a class="item {% if page.url == '/maps/' %} active {% endif %}" href="/maps/">
            <i class="map icon"></i>
            Maps
        </a>
    </div>
</div>
{{ content }}

</body>
</html>